.hero {
  height: 100vh;
  background: url("/fondo-mineria.jpg") no-repeat center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* OSCURECER IMAGEN */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(5, 10, 30, 0.6);
  top: 0;
  left: 0;
}

/* CONTENIDO */
.hero-content {
  position: relative;
  text-align: center;
  color: white;
  max-width: 900px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 16px;
  color: #cbd5f5;
  margin-bottom: 30px;
}

/* BUSCADOR */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

.search-box input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-box button {
  background: linear-gradient(90deg, #1e90ff, #0066ff);
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
}

.search-box button:hover {
  opacity: 0.9;
}