.admin-container {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.sidebar a:hover {
  background: #1e293b;
  color: white;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}